#contact {
  background: #faebd721;
}

.about-container {
  h4,
  h5,
  p,
  a,
  .service-name {
    font-family: "poppins", sans-serif;
  }
  h4,
  h5 {
    text-align: center;
    font-weight: 600;
    color: #f7b500;
  }

  h5 {
    text-transform: uppercase;
    color: #9a7d50;
  }

  .icon-contact {
    color: #f7b500;
  }
  .service-name {
    font-weight: 600;
  }
  a {
    color: #808080 !important;
    transform: translateX(0.9);

    &:hover {
      text-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
      transform: translateX(1);
    }
  }
}

.hovering {
  transform: scale(1.3);
  transition: transform 0.2s ease;
}
