#skills {
  // background: #faebd74f;
}

.skill-main {
  width: 100%;
  display: grid;

  h3 {
    margin-bottom: 2rem;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    font-family: "poppins", sans-serif;
  }

  .skill-bar {
    margin-top: 2.3rem !important;

    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;

      p {
        color: #000;
        font-family: "poppins", sans-serif;
      }
    }

    .bar {
      width: 100%;
      height: 10px;
      background-color: #bebebe;
      border-radius: 25px;
      margin-top: 10px;
      position: relative;

      span {
        width: 50%;
        height: 100%;
        position: absolute;
        left: 0;
        background: #f7b500;
        border-radius: 25px;
        font-family: "poppins", sans-serif;
      }

      .fe-basic {
        width: 80%;
        animation: fe-basic 2s;
        box-shadow: 4px 1px 14px rgb(247 181 0 / 57%);
      }

      .reactjs {
        width: 75%;
        animation: reactjs 3s;
        box-shadow: 4px 1px 14px rgb(247 181 0 / 57%);
      }

      .bootstrap5 {
        width: 70%;
        animation: bootstrap5 4s;
        box-shadow: 4px 1px 14px rgb(247 181 0 / 57%);
      }

      .figma {
        width: 80%;
        animation: figma 5s;
        box-shadow: 4px 1px 14px rgb(247 181 0 / 57%);
      }

      .nodejs {
        width: 80%;
        animation: nodejs 6s;
        box-shadow: 4px 1px 14px rgb(247 181 0 / 57%);
      }

      .database {
        width: 75%;
        animation: database 7s;
        box-shadow: 4px 1px 14px rgb(247 181 0 / 57%);
      }
    }
  }
}

.professional {
  display: flex;
  .box {
    margin: 10px 0;
    flex: 1 1 15rem;
    position: relative;

    .circle {
      width: 100%;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 2px solid #000;
      font-family: "poppins", sans-serif;
    }

    .text {
      text-align: center;
      color: #000;

      big {
        font: 400 !important;
        letter-spacing: 1px !important;
        position: absolute !important;
        top: 40% !important;
        left: 50% !important;
        transform: translate(-50%, -50%);
        font-family: "poppins", sans-serif;
      }

      small {
        display: block;
        font-weight: 600;
        font-family: "poppins", sans-serif;
      }
    }

    .points {
      width: 2px;
      height: 10px;
      background-color: #bebebe;
      position: absolute;
      border-radius: 3px;
      transform: rotate(calc(var(--i) * var(--rot))) translateY(-45px);
    }
    .marked {
      animation: glow 0.04s linear forwards;
      animation-delay: calc(var(--i) * 0.05s);
    }
  }
}

@keyframes fe-basic {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

@keyframes figma {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

@keyframes reactjs {
  0% {
    width: 0%;
  }

  100% {
    width: 75%;
  }
}

@keyframes bootstrap5 {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

@keyframes nodejs {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

@keyframes database {
  0% {
    width: 0%;
  }

  100% {
    width: 75%;
  }
}

@keyframes glow {
  0% {
    background-color: #bebebe;
    box-shadow: none;
  }

  100% {
    background-color: #f7b500;
    box-shadow: 4px 1px 14px rgb(247 181 0 / 57%);
  }
}
